@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.navbar-nav > li {
  padding-left: 20px;
  padding-right: 10px;
}

.copyright {
  background-color: cornsilk;
}

.register {
    background-image: url("../asset/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.register-form{
    background-color: white;
}