@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.navbar-nav > li {
  padding-left: 20px;
  padding-right: 10px;
}

.copyright {
  background-color: cornsilk;
}

.systemRequirement h1,
.characters h1 {
  font-weight: bold;
}

.table th,
.table td {
  padding: 40px;
}

.requirement-header img {
  width: 100px;
  height: 100px;
}

.requirement-header span {
  color: rgb(19, 132, 150);
  font-weight: 700;
}

.table {
  align-items: center;
}
